<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.example.banking.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
</web-app>
